.node {
  position: absolute;
  text-align: center;
  border: 1px solid #000;
  left: 100px;
  cursor: pointer;
  min-width: 150px;
  font-size: 20px;
}

.module p {
  margin: 5px;
}

select {
  min-width: 150px;
}

.node-header {
  width: 100%;
  padding: 0px;
  min-height: 25px;
}

.sensor {
  background-color: #777;
  color: #fff;
}

.module {
  background-color: #fff;
  color: #000;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.dark-button {
  background-color: #666;
  color: #fff;
}

.hover-button {
  width: 25px;
  height: 15px;
  position: relative;
  display: inline-block;
}

.hover-button .tooltip {
  visibility: hidden;
  width: 180px;
  background-color: white;
  border: 1px solid black;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  margin-left: -15px;
  z-index: 1;
}

.hover-button .tooltip-bottom {
  top: 100%;
  margin-top: 5px;
}

.hover-button .tooltip-top {
  bottom: 100%;
  margin-bottom: 5px;
}

.hover-button:hover .tooltip {
  visibility: visible;
}

.split {
  height: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding: 0;
}

.left {
  left: 0;
  background-color: #fff;
  max-width: calc(100% - 400px);
  width: 70%;
}

.left .container {
  padding: 20px;
}

.right {
  right: 0;
  min-width: 400px;
  width: 30%;
}

.right .container {
  padding: 20px;
  /* 46px navbar + 20px padding top + 20px padding bottom */
  height: 100%;
}

.right #graph-container {
  background-color: #ffd700;
}

.right #modules-container {
  background-color: #66d9ff;
}

.right #homecloud-container {
  background-color: #ff9966;
}

form {
  background-color: #fff;
  padding: 20px;
}

line {
  cursor: pointer;
}

.network-input {
  width: 100%;
}

.interval-input {
  width: 50%;
}

.icon {
  width: 25px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #888;
  cursor: pointer;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

#homecloud-container div.button-container {
  text-align: right;
}

#homecloud-container th, td {
  padding: 5px;
  text-align: left;
}

.modal {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #ddd;
}

.legend-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 75%;
  height: 100%;
  overflow: auto;
  padding: 8px;
  background-color: rgba(0,0,0,0.5);
}

.modal p {
  margin: 2px;
}

.legend-modal p {
  margin: 10px;
}

.error {
  color: red;
  padding-left: 5px;
}

.legend-modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 40%;
  height: 30%;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.legend-table {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 20%;
}