.node {
  position: absolute;
  text-align: center;
  border: 1px solid #000;
  left: 100px;
  cursor: pointer;
  min-width: 150px;
}

.node-header {
  width: 100%;
  padding: 0px;
  min-height: 25px;
}

.sensor {
  background-color: #777;
  color: #fff;
}

.module {
  background-color: #fff;
  color: #000;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hover-button {
  width: 25px;
  height: 15px;
  position: relative;
  display: inline-block;
}

.hover-button .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}

.hover-button .tooltip-bottom {
  top: 100%;
}

.hover-button .tooltip-top {
  bottom: 100%;
}

.hover-button:hover .tooltip {
  visibility: visible;
}

.split {
  height: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding: 20px;
}

.left {
  left: 0;
  background-color: #fff;
  width: 70%;
}

.right {
  right: 0;
  background-color: #ffd700;
  width: 30%;
}

form {
  background-color: #fff;
  padding: 20px;
}

line {
  cursor: pointer;
}

.network-input {
  width: 100%;
}

.interval-input {
  width: 50%;
}

.icon {
  width: 25px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.button-container {
  padding-top: 20px;
  text-align: center;
}

.button-container button {
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
}
