.hello {
  color: red;
  background: url('./icon.png');
}

.node {
  position: absolute;
  text-align: center;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  left: 100px;
  z-index: 100;
}

.node-header {
  padding: 10px;
  cursor: move;
  color: #fff;
}

.sensor-header {
  background-color: #000;
}

.module-header {
  background-color: #888;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 800px;
  height: 1000px;
}