.hello {
  color: red;
  background: url('./icon.png');
}

.node {
  position: absolute;
  text-align: center;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  left: 100px;
  cursor: move;
  min-width: 150px;
}

.sensor {
  border: 1px solid black;
  background-color: #fff;
  color: #000;
}

.module {
  background-color: #888;
  color: #fff;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hover-button {
  width: 25px;
  height: 15px;
  position: relative;
  display: inline-block;
}

.hover-button .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}

.hover-button .tooltip-bottom {
  top: 100%;
}

.hover-button .tooltip-top {
  bottom: 100%;
}

.hover-button:hover .tooltip {
  visibility: visible;
}

.split {
  height: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding: 20px;
}

.left {
  left: 0;
  background-color: #fff;
  width: 70%;
}

.right {
  right: 0;
  background-color: #ffd700;
  width: 30%;
}

form {
  background-color: #fff;
  padding: 20px;
}

line {
  cursor: move;
}
